:root{
    /* Cores */
    /* Cor das Bordas */
    --corB01: white;
    /* Backgroud */
    --corback01: rgb(219, 253, 242);
    --corback02: rgb(0, 0, 0);
}
*{
    margin: 0;
}
body{
    margin: 0;
    background-color: var(--corback01);
}

header{
    height: 25px;
}
h1{
    padding-top: 10px; 
    text-align: center;
    color: rgb(3, 173, 117);
    letter-spacing: 15px;
    font-size: 3.2em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
}


.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red';
    grid-template-areas: 'yellow blue';
    grid-gap: 10px;
    border: 1px solid var(--corB01);
    background-color: var(--corback02);
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.yellow {
    grid-area: 'yellow';
    background-color: rgb(255, 255, 35);
    border-top-left-radius: 100%;

}

.blue {
    grid-area: 'blue';
    background-color: rgb(15, 71, 255);
    border-top-right-radius: 100%;
}

.red{
    grid-area: 'red';
    background-color: rgb(255, 42, 42);
    border-bottom-right-radius: 100%;
}

.green {
    grid-area: 'green';
    background-color: green;
    border-bottom-left-radius: 100%;
}

.selected{
    opacity: 0.7;
}