:root{
    /* Cores */
    /* Cor das Bordas */
    --corB01: white;
    /* Backgroud */
    --corback01: rgb(219, 253, 242);
    --corback02: rgb(0, 0, 0);
}

body{
    margin: 0;
    background-color: var(--corback01);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red';
    grid-template-areas: 'yellow blue';
    grid-gap: 10px;
    border: 1px solid var(--corB01);
    background-color: var(--corback02);
    border-radius: 100%;
    width: 600px;
    height: 600px;
}

.yellow {
    grid-area: 'yellow';
    background-color: rgb(255, 255, 35);
    border-top-left-radius: 100%;
}

.blue {
    grid-area: 'blue';
    background-color: blue;
    border-top-right-radius: 100%;
}

.red{
    grid-area: 'red';
    background-color: red;
    border-bottom-right-radius: 100%;
}

.green {
    grid-area: 'green';
    background-color: green;
    border-bottom-left-radius: 100%;
}

.selected{
    opacity: 0.8;
}